.vertical-slide-carousel .swiper-wrapper {
  width: 100%;
  height: max-content !important;
  padding-bottom: 64px !important;
  transition-timing-function: linear !important;
  position: relative;
}

.vertical-slide-carousel .swiper-pagination-bullet {
  background: var(--pigeon-post);
  opacity: 0.6;
}

.vertical-slide-carousel .swiper-pagination-bullet-active {
  background: var(--pixie-green) !important;
  opacity: 1;
}

.centered-slide-carousel .swiper-pagination-bullet {
  background: var(--slate-gray);
  opacity: 0.5;
}

.centered-slide-carousel .swiper-pagination-bullet-active {
  background: var(--pixie-green) !important;
  opacity: 1;
}

.swiper-slide {
  background: var(--bridal-heath);
  border-radius: 1rem;
  overflow: hidden;
}