:root {
  --primary: #708090;        /* slate-gray - Color principal */
  --secondary: #77848e;      /* pigeon-post - Color secundario */
  --accent: #b7d3ac;         /* pixie-green - Color de acento */
  --neutral: #cac7b7;        /* chrome-white - Color neutro */
  --background: #fffaf4;     /* bridal-heath - Color de fondo */
}